.spaceElementVariant {
	padding-right: 3px;
}

.alignElement {
	display: flex;
	align-items: center;
	justify-content: center;
}

.alignLeft {
	margin-left: 10px;
}

.fontNormal {
	font-weight: 300;
}
