.header {
	grid-area: header;
	text-align: center;
	vertical-align: middle;
}

.container {
	display: grid;
	grid-template-rows: 1fr 6fr;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'header header header'
		'columnRuntime columnPlan columnCart';
	grid-column-gap: 15px;
	padding: 0 15px;
	margin-bottom: 20px;
	height: 95vh;
}

.columnRuntime, .columnPlan, .columnCart {
	-webkit-box-shadow: 3px 15px 26px -3px rgba(79, 90, 125, 0.5);
	box-shadow: 3px 15px 26px -3px rgba(79, 90, 125, 0.5);
	overflow-y: auto;
}

.columnRuntime {
	grid-area: columnRuntime;
}
.columnPlan {
	grid-area: columnPlan;
}
.columnCart {
	grid-area: columnCart;
}
