@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
	--global-h1-size: clamp(1.6em, calc(3.2/128 * 100vw), 3.2em); 
	--global-size: clamp(0.8em, calc(2/128 * 100vw), 2em); 
	--global-img-size: clamp(1em, calc(3.2/128 * 100vw), 3.2em); 
	--global-img-runtime-size: clamp(2em, calc(4.3/128 * 100vw), 4.3em); 
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin: 0;
	min-width: 700px;
}

h1 {
	font-size: var(--global-h1-size);
}

h3 {
	font-size: var(--global-size);
}

/* 
  css for ListFlavors, ListVariants, ListCart
*/
.headerList {
	background: #eaeaff none no-repeat scroll 0 0;
	height: 9vh;
	font-weight: 700;
	text-align: center;
	font-size: var(--global-size);
}

.sticky {
	position: sticky;
	top: 0;
}

.containElement {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 3px 10px;
	font-size: var(--global-size);
}

.containElementCart {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 3px 10px;
	font-size: var(--global-size);
}

.containElement:hover, .containElementCart:hover {
	background-color: #f6f6fb;
}

.alignRight {
	margin-left: auto;
}

/* 
  button icon
*/
.imgAdd {
	width: var(--global-img-size);
	display: flex;
	align-items: center;
	background-color: #1395f9;
	border-radius: 50%;
}

.imgRemove {
	width: var(--global-img-size);
	display: flex;
	align-items: center;
	background-color: tomato;
	border-radius: 50%;
}

button {
	border: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
	background: none;
}

button > img.imgAdd,
img.imgRemove {
	transition: all 0.2s ease-in-out;
}

button:hover > img.imgAdd {
	box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.25);
	border-radius: 50%;
	transform: scale(1.25);
	background-color: tomato;
}

button:focus > img.imgAdd {
	box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	background-color: tomato;
}

button:active > img.imgAdd {
	box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

button:hover > img.imgRemove {
	box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(1.25);
	border-radius: 50%;
	transform: scale(1.25);
	background-color: #1395f9;
}

button:focus > img.imgRemove {
	box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

button:active > img.imgRemove {
	box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 50%;
}

/* 
  css for ListFlavors and ListCard
*/
.colorElement {
	font-weight: bold;
	text-transform: uppercase;
	color: #1395f9;
}

.boldElement {
	font-weight: bold;
}

.borderElement {
	border-bottom: 1px solid #e9e9e9;
}

/* 
  css for listVariant and ListCard
*/
.sizeImage {
	width: var(--global-img-runtime-size);
	padding-right: 10px;
}
